/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  padding: 2rem;
}
.body-container {
  width: 80%;
  margin: 0 auto;
  background: #b5bdc9;
  display: flex;
  flex-wrap: wrap;
  color: #080f19;
  font-family: Roboto, arial, san-serif;
}
@media ( max-width: 515px ) {
  .body-container {
    width: 100%;
    flex-direction: column;
  }
}
.body-container header {
  width: 100%;
  height: 40rem;
  background: #55637a;
  display: flex;
  flex-direction: column;
}
@media ( max-width: 515px ) {
  .body-container header {
    width: 100%;
    height: 20rem;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.body-container header h1 {
  font-size: 4rem;
  padding-left: 109rem;
  padding-top: 28rem;
  color: lightgray;
}
@media ( max-width: 515px ) {
  .body-container header h1 {
    color: black;
    align-content: flex-start;
    padding: 1rem ;
    margin-top: 10rem;
  }
}
.body-container header p {
  font-size: 2rem;
  padding-left: 118rem;
  color: lightgray;
}
@media ( max-width: 515px ) {
  .body-container header p {
    padding: 1rem;
  }
}
.body-container .side-bar {
  width: 20%;
  background: #888e99;
  padding-top: 19rem;
  border-right: 3px solid white;
}
@media ( max-width: 515px ) {
  .body-container .side-bar {
    width: 100%;
    padding-top: 2rem;
  }
}
.body-container .side-bar h2 {
  font-size: 4rem;
  padding-left: 7rem;
  padding-top: 20rem;
}
@media ( max-width: 515px ) {
  .body-container .side-bar h2 {
    padding: 1rem;
    font-size: 3rem;
  }
}
.body-container .side-bar p {
  font-size: 5rem;
  text-align: end;
  padding: 1rem;
  font-size: 2rem;
  margin: 1rem 0;
  line-height: 6rem;
}
@media ( max-width: 515px ) {
  .body-container .side-bar p {
    line-height: 1.25;
    text-align: center;
  }
}
.body-container .side-bar nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: 3rem;
}
@media ( max-width: 515px ) {
  .body-container .side-bar nav {
    flex-direction: column;
    align-content: center;
    font-size: 2rem;
  }
}
.body-container .side-bar nav a {
  text-align: end;
  padding: 2rem;
  text-decoration: none;
  color: #dee1e5;
}
@media ( max-width: 515px ) {
  .body-container .side-bar nav a {
    padding: 1rem;
    text-align: center;
  }
}
.body-container .content {
  width: 75%;
  background: #dee9fc;
  display: flex;
  flex-direction: column;
  font-size: 8rem;
}
@media ( max-width: 515px ) {
  .body-container .content {
    width: 100%;
    padding: 1rem;
  }
}
.body-container .content h3 {
  text-decoration: underline;
  font-size: 3rem;
  font-weight: bold;
}
@media ( max-width: 515px ) {
  .body-container .content h3 {
    font-size: 2rem;
    text-decoration: none;
  }
}
.body-container .content p {
  margin: 3rem;
  font-size: 2rem;
}
@media ( max-width: 515px ) {
  .body-container .content p {
    margin: 1rem;
  }
}
.body-container .content img {
  height: 25rem;
  padding: 2rem 2rem 0rem 75rem;
}
@media ( max-width: 515px ) {
  .body-container .content img {
    display: none;
  }
}
.body-container .content .my_way {
  width: 80%;
  margin: 1rem auto;
  line-height: 1.25;
}
@media ( max-width: 515px ) {
  .body-container .content .my_way {
    width: 100%;
    margin: 1rem;
  }
}
.body-container .content .school {
  width: 60%;
  margin: 2rem auto;
  line-height: 1.25;
}
@media ( max-width: 515px ) {
  .body-container .content .school {
    width: 100%;
    margin: 1rem;
  }
}
.body-container .content .jobs {
  width: 60%;
  margin: 2rem auto;
  line-height: 1.25;
}
@media ( max-width: 515px ) {
  .body-container .content .jobs {
    width: 100%;
    margin: 1rem;
  }
}
.body-container footer {
  width: 100%;
  height: 5rem;
  font-size: 1rem;
  background: #30343a;
}
.body-container footer p {
  padding-top: 1rem;
  text-align: center;
}
