// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	max-height: 1170rem;
	height: 100%;
	font-size: 62.5%;
	max-width:830rem;
	width: 100%;
	padding: 2rem;
	
}

@fontStack: 				arial, san-serif;
@heading-Font-Size: 		16rem;
@heading-Font-size: 		10rem;
@p-font-size: 				5rem;
.body-container{
	width:80%;
	margin: 0 auto;
	background: gray;
	display: flex;
	flex-wrap: wrap;
	
	header{
		width: 100%;
		height: 20rem;
		background: dodgerblue;
		display: flex;
		flex-direction: column;
		align-content: flex-end;
		h1{
			font-size: @heading-Font-Size;
			padding-left: 96rem;
			padding-top: 10rem;
		}

		p{
			font-size: @heading-Font-size;
			padding-left: 101rem;
		}
	}
	
	.side-bar{
		width:20rem;
		height:800rem;
		background: orange;

		h2{
			font-size: @heading-Font-size;
			padding-left: 5rem;
			padding-top: 20rem;
		}
		p{
			font-size: p-font-size;
			text-align: end;
			padding: 2rem;
			font-size: 5rem;
			margin: 1rem 0;
			line-height: 2rem;
		}
		nav{
			display:flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			font-size: 8rem;
			
			
			a{
				text-align: end;
				padding: 2rem;
				text-decoration: none;
			}
		}
	}

	.content{
		width: 80%;
		height: 800rem;
		background: lightgreen;
		display: flex;
		flex-direction: column;
		font-size: 8rem;
		h3{
			text-decoration: underline;
			font-size: 8rem;
			font-weight: bold;
		}
		p{
			margin: 3rem;
		}

		.school{
			width: 60%;
			margin: 2rem auto;
			line-height: 2;

		}
		.jobs{
			width: 60%;
			margin: 2rem auto;
			line-height: 2;
		}
	}

	footer{
		width: 100%;
		height: 15rem;
		background: hotpink;
	}

}
