// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	//max-height: 500rem;
	//height: 100%;
	font-size: 62.5%;
	//max-width:830rem;
	//width: 100%;
	padding: 2rem;
	
}

.indent(){
	margin: 2rem auto;
	line-height: 1.25;
}
.enterData(){
	background: lightgrey;
	text-align: center;
	padding-top: 1rem;
}


@fontStack: 				Roboto, arial, san-serif;
@heading-Font-Size: 		4rem;

@p-font-size: 				5rem;
@font-color:				#080f19;

.body-container{
	width:80%;
	margin: 0 auto;
	background: #b5bdc9;
	display: flex;
	
	flex-wrap: wrap;
	color:@font-color;
	font-family: @fontStack;
	
	header{
		width: 100%;
		height: 40rem;
		background: #55637a;
		display: flex;
		flex-direction: column;
		h1{
			font-size: @heading-Font-Size;
			padding-left: 109rem;
			padding-top: 28rem;
			color:lightgray;
		}

		p{
			font-size: 2rem;
			padding-left: 118rem;
			color: lightgray;
		}
		
		
	}
	
	.side-bar{
		width:20%;
		background: #888e99;
		padding-top: 19rem;
		border-right: 3px solid white;
		h2{
			font-size: 4rem;
			padding-left: 7rem;
			padding-top: 20rem;
		}
		p{
			font-size: @p-font-size;
			text-align: end;
			padding: 1rem;
			font-size: 2rem;
			margin: 1rem 0;
			line-height: 6rem;
		}
		nav{
			display:flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			font-size: 3rem;
			
			
			a{
				text-align: end;
				padding: 2rem;
				text-decoration: none;
				color: #dee1e5;
			}
		}
	}

	.content{
		width: 75%;
		background: #dee9fc;
		display: flex;
		flex-direction: column;
		font-size: 8rem;
		h3{
			text-decoration: underline;
			font-size: 3rem;
			font-weight: bold;
		}
		p{
			margin: 3rem;
			font-size: 2rem;
		}
		img{
			
			height: 25rem;
			padding: 2rem 2rem 0rem 75rem;
		}
		.my_way{
			width: 80%;
			margin: 1rem auto;
			line-height: 1.25;
		}
		.school{
			width: 60%;
			.indent;

		}
		.jobs{
			width: 60%;
			.indent;
		}
		table{
			width: 100%
			
		}
			tr{
				height: 2rem;
				
				
			}
			td{
				.enterData();
			}
		
	}

	footer{
		width: 100%;
		height: 5rem;
		font-size: 1rem;
		background: #30343a;
		
		p{
			padding-top: 1rem;
			text-align: center;	
			
		}
	}

}
